.button{
    -fx-background-color: #FFA500FF;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-border-color: black;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

.number {
    -fx-background-color: #808080FF;
    -fx-min-width: 30px;
}

.equal-sign{
    -fx-min-width: 60px;
}

.label{
    -fx-min-width: 90px;
}

HBox{
    -fx-alignment: center;
}

.outputBox {
    -fx-pref-height: 45;
    -fx-min-height: 45;
    -fx-min-width: 150;
    -fx-pref-width: 150;
    -fx-font-size: 30;
}

.calc-box{
    -fx-min-height: 300;
    -fx-pref-height: 300;
}